extends layout

block content
  .header
    h1= title
  .content.pure-g
    .pure-u-1.pure-u-md-1-3
    table.pure-u-1.pure-u-md-1-3.pure-table.pure-table-bordered
      thead
        tr
          th(valign="top") Owner
          th(valign="top") Address
          th(valign="top") Income Generated
      tbody
        each entry in properties
          tr
            td(valign="top") #{entry.owner}
            td(valign="top")
              each val, index in entry.address
                if val
                  span #{val} </br>
            td(valign="top") #{entry.incomeGenerated}£
    .pure-u-1.pure-u-md-1-3
